* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "poppins";
}

/* COMMON */
.content {
  width: 1110px;
  margin-left: auto;
  margin-right: auto;
}
/* HEADER*/
.header {
  background: #e6f0ff;
  height: 100vh;
}
.narbar {
  display: flex;
}
.narbar ul {
  display: flex;
}
